<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850576093614-ijkgguu48sb1qsbinuf585e7t6sgda1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850576093614-ijkgguu48sb1qsbinuf585e7t6sgda1k</string>
	<key>API_KEY</key>
	<string>AIzaSyCPWHscz1bHrx3DPhrb2VmfnXLLlNUXiTE</string>
	<key>GCM_SENDER_ID</key>
	<string>850576093614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swordroot.timeschedulertest</string>
	<key>PROJECT_ID</key>
	<string>heroku-sucheduler-test</string>
	<key>STORAGE_BUCKET</key>
	<string>heroku-sucheduler-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850576093614:ios:cbd57506476b9c984c183f</string>
</dict>
</plist>